.four_block {
    background-color: $bgc_section_two;

    .first_block,
    .second_block{
        display: flex;

        .text_container{
            width: 30%;
            margin: 5% 120px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            
            h2{
                @include font(42, $header_fonts, $heading_color, uppercase);
                padding: 0;
                margin: 0;

                span{
                    display: block;
                }
            }

            p{
                @include font(20, $paragraph_fonts, $text_color, none);
                line-height: 29px;
                letter-spacing: 0.2px;
                padding: 0;
                margin: 0;
            }

            button{
                @include font(20, $header_fonts, $foot_icon_color, uppercase);
                background-color: $bgc_header;
                border: none;
                height: 50px;
                width: 160px;

                a{
                    text-decoration: none;
                    color: $foot_icon_color;
                }
            }
        }

        .img_container{
            height: 80vh;
            width: 50%;
            
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    .first_block{
        justify-content: flex-end;
    }

    .second_block{
        flex-direction: row-reverse;
        justify-content: flex-end;

    }
}