// Header section

header {
    background-color: $bgc_header;
    height: 800px;
    background-image: url(#{$asset_path}/header-group-appliances.png);
    background-repeat: no-repeat;
    background-position: bottom right;

    nav {
        text-align: end;
        @include font(18, $nav_fonts, $text_color, uppercase);
        line-height: 29px;

        i{
            opacity: 0;
        }

        ul li {
            display: inline-block;
            margin-left: 30px;

            a {
                text-decoration: none;
                color: $foot_icon_color;
                text-transform: uppercase;

                &:hover,
                &:focus {
                    color: #fff;
                }
            }
        }
    }

    h1 {
        @include font(104.6, $header_fonts, $heading_color, uppercase);
        margin-bottom: 0;
        margin-top: 150px;
        line-height: 87.3px;

        span {
            display: block;
        }
    }

    p {
        @include font(37.2, $paragraph_fonts, $text_color, none);
        line-height: 37.9px;
        letter-spacing: 0.3px;
    }
}