// Mixins to include

@mixin font($sizeValue, $font-family, $color, $text-transform){
    font-size: ($sizeValue/20) * 1rem;
    font-family: $font-family;
    color: $color;
    text-transform: $text-transform;
}