// Font Families

$header_fonts: 'Emblema One', cursive;
$paragraph_fonts: 'Barlow', sans-serif;
$nav_fonts: 'Catamaran', sans-serif;

// Color Palette

$heading_color: #1D81CC;
$text_color: #1F2022;
$foot_icon_color: #042259;
$bgc_section_one: #FCDDE2;
$bgc_section_two: #F0F5FF;
$bgc_header: #F5C8CF;

