@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/setup';


html{
    font-size: 125%;
}

.wrapper{
    width: 60%;
    margin: 0 auto;
    border: 1px dashed red;
}

header{

}

h1{
    @include fontSize(104.6, $header_fonts);
}