html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #F5C8CF;
  height: 800px;
  background-image: url(../assets/assets/header-group-appliances.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
header nav {
  text-align: end;
  font-size: 0.9rem;
  font-family: "Catamaran", sans-serif;
  color: #1F2022;
  text-transform: uppercase;
  padding-top: 20px;
  line-height: 29px;
}
header nav li {
  display: inline-block;
  margin-left: 3%;
}
header nav li a {
  text-decoration: none;
  color: #1F2022;
  text-transform: uppercase;
}
header nav li a:hover, header nav li a:focus {
  color: #fff;
}
header h1 {
  font-size: 5.23rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 150px;
  line-height: 87.3px;
}
header h1 span {
  display: block;
}
header p {
  font-size: 1.86rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 37.9px;
  letter-spacing: 0.3px;
}

aside {
  position: fixed;
  right: 40px;
  top: 80px;
}
aside li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
aside li i {
  font-size: 25px;
}

.gallery {
  background-color: #fcdde2;
  padding-bottom: 80px;
}
.gallery h2 {
  font-size: 2.1rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
  margin: 0;
}
.gallery .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 0 80px 0;
}
.gallery .photos li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
.gallery .photos li img {
  display: block;
  max-width: 100%;
  height: auto;
}
.gallery .flex_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery .flex_one .kettle {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .flex_one div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}
.gallery .flex_one div h2 {
  margin: 0;
  padding: 0;
  text-align: start;
}
.gallery .flex_one div p {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 29px;
  letter-spacing: 0.2px;
}
.gallery .flex_one div button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #fff;
  text-transform: uppercase;
  background-color: #042259;
  width: 160px;
  height: 50px;
  border: none;
}
.gallery .flex_one div button a {
  text-decoration: none;
  color: #fff;
}

.four_block {
  background-color: #F0F5FF;
}
.four_block .first_block,
.four_block .second_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.four_block .first_block .text_container,
.four_block .second_block .text_container {
  width: 30%;
  margin: 5% 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.four_block .first_block .text_container h2,
.four_block .second_block .text_container h2 {
  font-size: 2.1rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.four_block .first_block .text_container h2 span,
.four_block .second_block .text_container h2 span {
  display: block;
}
.four_block .first_block .text_container p,
.four_block .second_block .text_container p {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 29px;
  letter-spacing: 0.2px;
  padding: 0;
  margin: 0;
}
.four_block .first_block .text_container button,
.four_block .second_block .text_container button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #042259;
  text-transform: uppercase;
  background-color: #F5C8CF;
  border: none;
  height: 50px;
  width: 160px;
}
.four_block .first_block .text_container button a,
.four_block .second_block .text_container button a {
  text-decoration: none;
  color: #042259;
}
.four_block .first_block .img_container,
.four_block .second_block .img_container {
  height: 80vh;
  width: 50%;
}
.four_block .first_block .img_container img,
.four_block .second_block .img_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.four_block .first_block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.four_block .second_block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body_links {
  background-color: #fcdde2;
}
.body_links .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px 0;
}
.body_links .icons ul li {
  text-align: center;
}
.body_links .icons ul li i {
  font-size: 40px;
}
.body_links .icons ul li a {
  text-decoration: none;
}
.body_links .icons ul li a h3 {
  font-size: 1.56rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

footer {
  background-color: #F0F5FF;
}
footer .copyright {
  font-size: 0.75rem;
  font-family: "Barlow", sans-serif;
  color: #fff;
  text-transform: none;
  text-align: center;
  padding: 10px;
  margin: 0;
  display: block;
  background-color: #042259;
}
footer h4 {
  font-size: 1.25rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin: 0;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
footer .wrapper p,
footer .wrapper li {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
}
footer .wrapper .subscribe {
  width: 60%;
}
footer .wrapper .subscribe p {
  padding: 10px 0;
}
footer .wrapper .subscribe input[type=email] {
  border: 1px #F5C8CF solid;
  width: 50%;
  height: 40px;
  padding-left: 20px;
}
footer .wrapper .subscribe button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #1F2022;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 0;
  background-color: #F5C8CF;
}
footer .wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper .contact .top {
  margin-bottom: 10px;
}
footer .wrapper .contact .second_nav {
  text-align: end;
}
footer .wrapper .contact .second_nav a {
  text-decoration: none;
}
footer .wrapper p {
  margin: 0;
}