html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  width: 70%;
  margin: 0 auto;
  max-width: 1350px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header {
  background-color: #F5C8CF;
  height: 800px;
  background-image: url(../assets/assets/header-group-appliances.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
header nav {
  text-align: end;
  font-size: 0.9rem;
  font-family: "Catamaran", sans-serif;
  color: #1F2022;
  text-transform: uppercase;
  line-height: 29px;
}
header nav i {
  opacity: 0;
}
header nav ul li {
  display: inline-block;
  margin-left: 30px;
}
header nav ul li a {
  text-decoration: none;
  color: #042259;
  text-transform: uppercase;
}
header nav ul li a:hover, header nav ul li a:focus {
  color: #fff;
}
header h1 {
  font-size: 5.23rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 150px;
  line-height: 87.3px;
}
header h1 span {
  display: block;
}
header p {
  font-size: 1.86rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 37.9px;
  letter-spacing: 0.3px;
}

aside {
  position: fixed;
  right: 40px;
  top: 80px;
}
aside li {
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
aside li i {
  font-size: 25px;
  color: #1D81CC;
}

.gallery {
  background-color: #fcdde2;
  padding-bottom: 80px;
}
.gallery h2 {
  font-size: 2.1rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  text-align: center;
  padding: 60px 0;
  margin: 0;
}
.gallery .photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0 0 80px 0;
}
.gallery .photos li {
  width: 32%;
}
.gallery .photos li img {
  width: 100%;
  height: auto;
}
.gallery .flex_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.gallery .flex_one .img_container {
  width: 30%;
}
.gallery .flex_one .img_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .flex_one .text_container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}
.gallery .flex_one .text_container h2 {
  margin: 0;
  padding: 0;
  text-align: start;
}
.gallery .flex_one .text_container p {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 29px;
  letter-spacing: 0.2px;
}
.gallery .flex_one .text_container button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #fff;
  text-transform: uppercase;
  background-color: #042259;
  width: 160px;
  height: 50px;
  border: none;
}
.gallery .flex_one .text_container button a {
  text-decoration: none;
  color: #fff;
}

.four_block {
  background-color: #F0F5FF;
}
.four_block .first_block,
.four_block .second_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.four_block .first_block .text_container_1,
.four_block .first_block .text_container_2,
.four_block .second_block .text_container_1,
.four_block .second_block .text_container_2 {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.four_block .first_block .text_container_1 h2,
.four_block .first_block .text_container_2 h2,
.four_block .second_block .text_container_1 h2,
.four_block .second_block .text_container_2 h2 {
  font-size: 2.1rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.four_block .first_block .text_container_1 h2 span,
.four_block .first_block .text_container_2 h2 span,
.four_block .second_block .text_container_1 h2 span,
.four_block .second_block .text_container_2 h2 span {
  display: block;
}
.four_block .first_block .text_container_1 p,
.four_block .first_block .text_container_2 p,
.four_block .second_block .text_container_1 p,
.four_block .second_block .text_container_2 p {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
  line-height: 29px;
  letter-spacing: 0.2px;
  padding: 10px 0;
}
.four_block .first_block .text_container_1 a,
.four_block .first_block .text_container_2 a,
.four_block .second_block .text_container_1 a,
.four_block .second_block .text_container_2 a {
  text-decoration: none;
  color: #042259;
}
.four_block .first_block .text_container_1 a button,
.four_block .first_block .text_container_2 a button,
.four_block .second_block .text_container_1 a button,
.four_block .second_block .text_container_2 a button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #042259;
  text-transform: uppercase;
  background-color: #F5C8CF;
  border: none;
  height: 50px;
  width: 160px;
}
.four_block .first_block .text_container_1,
.four_block .second_block .text_container_1 {
  padding-right: 70px;
}
.four_block .first_block .text_container_2,
.four_block .second_block .text_container_2 {
  padding-left: 70px;
}
.four_block .first_block .img_container,
.four_block .second_block .img_container {
  height: 80vh;
  width: 50%;
}
.four_block .first_block .img_container img,
.four_block .second_block .img_container img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.four_block .first_block {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.four_block .second_block {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.body_links {
  background-color: #fcdde2;
}
.body_links .icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 60px 0 60px 40px;
}
.body_links .icons ul li {
  text-align: center;
}
.body_links .icons ul li i {
  font-size: 40px;
  color: #042259;
}
.body_links .icons ul li a {
  text-decoration: none;
}
.body_links .icons ul li a h3 {
  font-size: 1.56rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

footer {
  background-color: #F0F5FF;
}
footer .copyright {
  font-size: 0.75rem;
  font-family: "Barlow", sans-serif;
  color: #fff;
  text-transform: none;
  text-align: center;
  padding: 10px;
  margin: 0;
  display: block;
  background-color: #042259;
}
footer .copyright a {
  text-decoration: none;
  color: #fff;
}
footer .copyright a:hover, footer .copyright a:focus {
  text-decoration: underline;
}
footer h4 {
  font-size: 1.25rem;
  font-family: "Emblema One", cursive;
  color: #1D81CC;
  text-transform: uppercase;
  margin: 0;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0;
}
footer .wrapper p,
footer .wrapper li {
  font-size: 1rem;
  font-family: "Barlow", sans-serif;
  color: #1F2022;
  text-transform: none;
}
footer .wrapper .subscribe {
  width: 60%;
}
footer .wrapper .subscribe p {
  padding: 10px 0;
}
footer .wrapper .subscribe input[type=email] {
  border: 1px #F5C8CF solid;
  width: 50%;
  height: 40px;
  padding-left: 20px;
}
footer .wrapper .subscribe button {
  font-size: 1rem;
  font-family: "Emblema One", cursive;
  color: #1F2022;
  text-transform: uppercase;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 0;
  background-color: #F5C8CF;
}
footer .wrapper .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .wrapper .contact .top {
  margin-bottom: 10px;
}
footer .wrapper .contact .second_nav {
  text-align: end;
}
footer .wrapper .contact .second_nav a {
  text-decoration: none;
}
footer .wrapper p {
  margin: 0;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 90%;
  }
  header {
    height: 600px;
    background-image: url(../assets/assets/header-group-appliances.png/);
    background-size: 500px 500px;
  }
  aside {
    right: 20px;
  }
  .four_block .first_block,
.four_block .second_block {
    height: 500px;
  }
  .four_block .first_block .text_container_1,
.four_block .first_block .text_container_2,
.four_block .second_block .text_container_1,
.four_block .second_block .text_container_2 {
    width: 45%;
  }
  .four_block .first_block .img_container,
.four_block .second_block .img_container {
    height: 500px;
  }
  .body_links .icons ul {
    padding-left: 4%;
  }
}
@media (max-width: 1024px) {
  .wrapper {
    width: 95%;
  }
  aside {
    right: 0px;
  }
  .gallery .flex_one .img_container {
    width: 40%;
  }
  .gallery .flex_one .text_container {
    width: 60%;
  }
  .gallery .flex_one .text_container span {
    display: block;
  }
  .four_block .first_block,
.four_block .second_block {
    height: 400px;
  }
  .four_block .first_block .text_container_1,
.four_block .first_block .text_container_2,
.four_block .second_block .text_container_1,
.four_block .second_block .text_container_2 {
    width: 47.5%;
  }
  .four_block .first_block .text_container_1 p,
.four_block .first_block .text_container_2 p,
.four_block .second_block .text_container_1 p,
.four_block .second_block .text_container_2 p {
    margin: 0;
  }
  .four_block .first_block .text_container_1,
.four_block .second_block .text_container_1 {
    padding-right: 20px;
  }
  .four_block .first_block .text_container_2,
.four_block .second_block .text_container_2 {
    padding-left: 20px;
  }
  .four_block .first_block .img_container,
.four_block .second_block .img_container {
    height: 400px;
  }
  .body_links .icons ul {
    padding-left: 4%;
  }
}
@media (max-width: 940px) {
  .wrapper {
    width: 95%;
  }
  header nav ul {
    display: none;
  }
  header nav i {
    opacity: 1;
    padding-top: 20px;
    font-size: 50px;
    color: #042259;
  }
  header {
    height: 100vh;
    background-image: url(../assets/assets/header-alt-mobile.png);
    background-size: 80vh;
    background-color: #fcdde2;
  }
  aside {
    display: none;
  }
  .gallery .photos li:nth-child(3) {
    display: none;
  }
  .gallery .photos li {
    width: 47.5%;
  }
  .gallery .flex_one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .gallery .flex_one .img_container {
    width: 100%;
    height: 100%;
  }
  .gallery .flex_one .img_container img {
    width: 100%;
    margin: 0 auto;
    height: 100%;
  }
  .gallery .flex_one .text_container {
    padding-top: 60px;
    width: 100%;
    margin-left: 0;
  }
  .gallery .flex_one .text_container h2 {
    text-align: center;
  }
  .gallery .flex_one .text_container a {
    -ms-flex-item-align: center;
        align-self: center;
    padding-top: 40px;
  }
  .gallery .flex_one .text_container a button {
    width: 200px;
    height: 70px;
  }
  .four_block {
    background-color: #fcdde2;
  }
  .four_block .first_block,
.four_block .second_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .four_block .first_block .text_container_1,
.four_block .first_block .text_container_2,
.four_block .second_block .text_container_1,
.four_block .second_block .text_container_2 {
    width: 95%;
    padding: 60px 0 50px 0;
  }
  .four_block .first_block .text_container_1 h2,
.four_block .first_block .text_container_2 h2,
.four_block .second_block .text_container_1 h2,
.four_block .second_block .text_container_2 h2 {
    text-align: center;
  }
  .four_block .first_block .text_container_1 h2 span,
.four_block .first_block .text_container_2 h2 span,
.four_block .second_block .text_container_1 h2 span,
.four_block .second_block .text_container_2 h2 span {
    display: inline;
  }
  .four_block .first_block .text_container_1 p,
.four_block .first_block .text_container_2 p,
.four_block .second_block .text_container_1 p,
.four_block .second_block .text_container_2 p {
    padding: 40px 0;
  }
  .four_block .first_block .text_container_1 a,
.four_block .first_block .text_container_2 a,
.four_block .second_block .text_container_1 a,
.four_block .second_block .text_container_2 a {
    -ms-flex-item-align: center;
        align-self: center;
  }
  .four_block .first_block .text_container_1 a button,
.four_block .first_block .text_container_2 a button,
.four_block .second_block .text_container_1 a button,
.four_block .second_block .text_container_2 a button {
    color: #fff;
    background-color: #042259;
  }
  .four_block .first_block .img_container,
.four_block .second_block .img_container {
    width: 100%;
    height: auto;
  }
  .body_links {
    background-color: #F5C8CF;
  }
  .body_links .icons ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 0 50px 0;
  }
  .body_links .icons ul li {
    margin: 20px;
  }
  .body_links .icons ul li i {
    font-size: 60px;
  }
  .body_links .icons ul li a h3 {
    margin: 20px 0 0 0;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .wrapper .subscribe {
    text-align: center;
    width: 100%;
  }
  footer .wrapper .subscribe input[type=email] {
    text-align: center;
    width: 80%;
    padding: 0;
  }
  footer .wrapper .subscribe span {
    display: block;
    padding: 10px 0 30px 0;
  }
  footer .wrapper .contact {
    width: 80%;
  }
}
@media (max-width: 600px) {
  header h1 {
    font-size: 70px;
    line-height: 60px;
  }
  header p {
    font-size: 25px;
    margin-top: 5px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 100%;
  }
  header {
    height: 650px;
    background-size: 50vh;
  }
  header h1 {
    font-size: 50px;
    line-height: 55px;
    margin-top: 70px;
  }
  header p {
    margin-top: 5px;
    font-size: 20px;
  }
  footer .copyright {
    font-size: 15px;
    padding: 15px;
  }
  footer .wrapper .contact {
    width: 95%;
  }
  footer .wrapper .contact span {
    display: block;
  }
  footer .wrapper .subscribe input[type=email] {
    width: 95%;
    padding: 25px 0;
  }
}